@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>

<address>
    МГТУ им. Н.Э. Баумана<br />
    Москва, Рубцовская наб. д. 2/18, 105005<br /><br />
    Денис Бабарыкин, ИУ7-61<br />
    <abbr title="Phone">P:</abbr>
    8-916-741-16-79
</address>

<address>
    <strong>E-mail:</strong>   <a href="mailto:babarykin.denis@gmail.com">babarykin.denis@gmail.com</a><br />
</address>